:root{
    --black: #171A1B;
    --gray1: #BEC7CB;
    --gray2: #505557;
    --white: #FFFFFF;
    --white2: #EDF2F4;
    --yellow: #FFD60A;
    --red: #D90429;
}

h1{
    font-size: 42px;
    font-weight: 700;
    color: var(--black);
}

h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
}

p{
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}
