:root{
    --black: #171A1B;
    --gray1: #BEC7CB;
    --gray2: #505557;
    --white: #FFFFFF;
    --white2: #EDF2F4;
    --yellow: #FFD60A;
    --red: #D90429;
}

nav, main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1440px;
    padding: 10px 16px;

    background-color: var(--black);

    position: fixed;
    margin: 0 auto;

    border-radius: 1em;

    z-index: 60;
}

.logo_nav{
    position: relative;
    z-index: 100;
    height: 95%;
    color: var(--white);
}

.icono_hamburger{
    width: 22px;
    height: 22px;

    background-image: url('./assets/icon/menu_close_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 100;

    transition: 0.3s ease-in;

    cursor: pointer;
}

.icono_hamburger--open{
    width: 22px;
    height: 22px;

    background-image: url('./assets/icon/menu_open.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 100;

    transition: 0.3s ease-out;

    cursor: pointer;
}

.nav_overlay{
    display: none;

    transition: 0.3s ease-out;
}

.nav_overlay--show{
    display: unset;

    width: 100%;
    height: 100vh;

    background-color: var(--black);

    position: fixed;
    top: 0;
    left: 0;

    transition: 0.3s ease-in;
}

.nav_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 22px;

    color: var(--white);

    position: relative;
    top: 50px;
    left: 0;
    right: 0;

    font-size: 24px;
    font-weight: 500;

    padding: 32px;
}

.nav_ul>li>a:hover{
    color: var(--yellow);

    transition: 0.3s ease-in;
}

.titulo_container{
    width: 100%;

    background-color: var(--black);
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

    width: 100%;
    max-width: 1440px;
    height: 100vh;

    margin: 0 auto;
    padding: 0 16px;

}

.main_h1{
    width: 280px;

    color: var(--yellow);
    font-size: 24px;
    font-weight: 700;
}

.sm_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 160px;
}

.sm_icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    padding: 5px;
    border: 1px solid var(--white2);
}

.sm_icon:hover{
    border: none;
    background-color: var(--yellow);

    transition: 0.2s ease;
}

.sm_icon img:hover{
    transition: 0.2s ease;

    filter: invert(100%) sepia(2%) saturate(4108%) hue-rotate(149deg) brightness(95%) contrast(87%);
}

.proyectos_container{
    width: 100%;
    height: 100vh;

    background-image: url('./assets/img/proyectos_img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay_proyecto{
    width: 100%;
    height: 100vh;

    opacity: 0.9;

    background-image: linear-gradient(180deg, rgba(23, 26, 27, 1) 0%, rgba(80, 85, 87, 1) 100%);
}

.proyectos_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    
    width: 100%;
    max-width: 1440px;
    height: 100%;

    padding: 0 16px;
    margin: 0 auto;
}

.proyectos_h2{
    width: 300px;
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
}

.btn{

    font-size: 16px;
    font-weight: 400;
    padding: 10px 16px;

    background-color: var(--yellow);

    color: var(--black);

}

.btn:hover{

    background-color: transparent;

    border: 1px solid var(--white);

    color: var(--white);
}

.servicios_container{
    width: 100%;

    background-color: var(--black);
}

.servicios{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    max-width: 1440px;

    margin: 0 auto;
    padding: 100px 16px;
}

.serv{
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 300px;
    max-width: 400px;
    height: 300px;
    max-height: 500px;

    color: var(--white);
    /* margin-bottom: 50px; */
}

.serv_h3{
    color: var(--yellow);
    font-size: 24px;
    font-weight: 500;
}

.serv_p{
    font-size: 16px;
    font-weight: 400;
}

.contacto_container{
    width: 100%;
    height: 700px;

    background-color: var(--white);
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;

    width: 100%;
    max-width: 1440px;
    height: 100%;

    padding: 0 16px;
    margin: 0 auto;
}

.contacto_h2{
    width: 300px;
    
    font-size: 48px;
    font-weight: 700;

    color: var(--black);
}

.contacto_p{
    font-size: 13px;
    font-weight: 400;
    color: var(--black);
}

.sm_icon_contacto{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    padding: 5px;
    border: 1px solid var(--black);
}

.sm_icon_contacto img{
    transition: 0.2s ease;

    filter: invert(100%) sepia(2%) saturate(4108%) hue-rotate(149deg) brightness(95%) contrast(87%);
}

.sm_icon_contacto img:hover{
    transition: 0.2s ease;

    filter: invert(100%) sepia(2%) saturate(4108%) hue-rotate(149deg) brightness(95%) contrast(87%);
}

.btn_contacto:hover{
    background-color: transparent;

    color: var(--black);

    border: 1px solid var(--black);
}

footer{
    width: 100%;
}

.footer_container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    max-width: 1440px;

    padding: 50px 16px;
    margin: 0 auto;

    border-top: 1px solid var(--white2);
}

.logo_footer{
    display: none;
}

.footer_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3em;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1em;
}

.info h4{
    color: var(--gray1);
    font-size: 16px;
    font-weight: 500;
}

.info a{
    color: var(--black);
    font-size: 13px;
    font-weight: 400;
}

.info a:hover{
    transition: 0.2s ease-in;
    color: var(--gray2);
}

@media (min-width: 767px) {
    .nav_container{
        max-width: 90%;
        max-height: 55px;

        top: 16px;
        padding: 10px 50px;
    }
    
    .icono_hamburger{
        display: none;
    }

    .nav_overlay{
        display: flex;
    }

    .nav_ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        gap: 1em;
    
        color: var(--white);
    
        position: unset;
    
        font-size: 13px;
        font-weight: 400;
    
        padding: 0px;
    }

    .main_h1{
        width: 600px;
        font-size: 52px;
        font-weight: 700;
    }

    .proyectos_h2{
        width: 600px;
        font-size: 62px;
        font-weight: 700;
    }

    .contacto, .proyectos_text, .titulo{
        padding: 0 32px;
    }

    .contacto_h2{
        width: 600px;
        font-size: 82px;
        font-weight: 700;
    }

    .footer_container{
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: space-between;
        align-items: center;
    
        width: 100%;
        max-width: 1440px;
    
        padding: 50px 32px;
        margin: 0 auto;
    
        border-top: 1px solid var(--white2);
    }

    .footer_container>a{
        display: none;
    }

    .footer_info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 3em;

        width: 100%;
    }
}

@media (min-width: 900px) {
    .nav_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        width: 90%;
        max-width: 1440px;
        padding: 10px 16px;
    
        background-color: var(--black);
    
        position: fixed;
        margin: 0 auto;
    
        border-radius: 1em;
    }

    .contacto, .proyectos_text, .titulo{
        padding: 0 50px;
    }

    .servicios{
        padding: 100px 32px;
    }

    .main_h1{
        width: 900px;
        font-size: 75px;
        font-weight: 700;
    }

    .proyectos_h2{
        width: 900px;
        font-size: 82px;
        font-weight: 700;
    }

    .contacto_h2{
        width: 900px;
        font-size: 92px;
        font-weight: 700;
    }

    .footer_container{
        padding: 50px 32px;
    }

    .footer_container>a, .logo_footer{
        display: unset;
    }

    .footer_info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 3em;

        width: 400px;
    }
}