:root{
    --black: #171A1B;
    --gray1: #BEC7CB;
    --gray2: #505557;
    --white: #FFFFFF;
    --white2: #EDF2F4;
    --yellow: #FFD60A;
    --red: #D90429;
}

nav, main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1440px;
    padding: 10px 16px;

    background-color: var(--black);

    position: fixed;
    margin: 0 auto;

    border-radius: 1em;
}

.logo_nav{
    position: relative;
    z-index: 100;
}

.icono_hamburger{
    width: 22px;
    height: 22px;

    background-image: url('./assets/icon/menu_close_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 100;

    transition: 0.3s ease-in;

    cursor: pointer;
}

.icono_hamburger--open{
    width: 22px;
    height: 22px;

    background-image: url('./assets/icon/menu_open.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 100;

    transition: 0.3s ease-out;

    cursor: pointer;
}

.nav_overlay{
    display: none;

    transition: 0.3s ease-out;
}

.nav_overlay--show{
    display: unset;

    width: 100%;
    height: 100vh;

    background-color: var(--black);

    position: fixed;
    top: 0;
    left: 0;

    transition: 0.3s ease-in;
}

.nav_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 22px;

    color: var(--white);

    position: relative;
    top: 50px;
    left: 0;
    right: 0;

    font-size: 24px;
    font-weight: 500;

    padding: 32px;
}

.nav_ul>li>a:hover{
    color: var(--yellow);

    transition: 0.3s ease-in;
}

.titulo_container{
    width: 100%;

    background-color: var(--black);
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

    width: 100%;
    max-width: 1440px;
    height: 100vh;

    margin: 0 auto;
    padding: 0 16px;

}

.main_h1{
    width: 280px;

    color: var(--yellow);
    font-size: 24px;
    font-weight: 700;
}

.sm_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 160px;
}

.sm_icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    padding: 5px;
    border: 1px solid var(--white2);
}

.sm_icon:hover{
    border: none;
    background-color: var(--yellow);

    transition: 0.2s ease;
}

.sm_icon img:hover{
    transition: 0.2s ease;

    filter: invert(100%) sepia(2%) saturate(4108%) hue-rotate(149deg) brightness(95%) contrast(87%);
}
